html {
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0px;
    margin: 0px;

    user-select: none;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: url('wallpaper.jpg');
}
* {
    box-sizing: border-box;
}

.taskbar {
    z-index: 99999;
    position: fixed;
    bottom: 0px; left: 0px; right: 0px;

    width: 100vw;
    height: 50px;
    margin: 0 auto;
    padding: 0px 15px 0px 0px;

    background: rgba(55, 55, 55, .65);
}

.desktop {
    position: absolute;
    padding: 15px 0px;
}
.desktop .file {
    float: left;
    width: 98px;

    text-align: center;
    font-size: 13px;
}
.desktop .file .icon {
    width: 58px;
    margin: 0 15px;
}

.app {
    display: inline-block;
    height: 50px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.app.right {
    float: right;
    padding: 10px 15px;
}
.app.active {
    background: rgba(145, 145, 145, .65);
}
.app .icon {
    display: block;
    height: 30px;
}

.app-launcher {
    z-index: 9999999;
    position: absolute;
    right: -360px; top: 0px;

    width: 375px;
    height: 100vh;
    background: rgba(55, 55, 55, .95);
    transition: 250ms ease-in-out;
}
.app-launcher:hover {
    right: 0px;
}
.app-launcher.open {
    right: 0px;
}
.app-launcher .app {
    height: 80px;
}
.app-launcher .app .icon {
    height: 100%;
}
.app-launcher .header {
    display: block;
    padding: 25px 15px 5px 15px;

    font-size: 22px;
    font-weight: 300;
    color: #fff;
}


.window {
    overflow: hidden;
    position: absolute;
    background: rgba(55, 55, 55, .65);
    box-shadow: 0px 0px 2px rgb(5, 5, 5);
    resize: both;
}
.window .title {
    height: 35px;
    width: 100%;
    padding: 0px 10px;

    font-size: 13px;
    line-height: 35px;
    text-align: left;
    color: #fff;
    user-select: none;
    cursor: default;

    background: rgba(105, 105, 105, .65);
}
.window.active .title {
    background: rgba(55, 55, 55, .65);
}
.window .title .action {
    display: inline-block;
    float: right;

    padding: 0px 12px;

    line-height: 35px;
    cursor: default;
}
.window .title .action:hover {
    background: rgba(145, 145, 145, .65);
}
.window .content {
    padding: 5px;
    user-select: auto;

    width: 100%;
    height: 100%;

    background: rgba(51, 51, 51, 0.85);
}
.window.terminal {
    left: 8vw; top: 18vh;
    width: 720px;
    height: 375px;

    color: lawngreen;
    line-height: 20px;
    font-size: 14px;
}
.window.terminal .content {
    font-family: 'Consolas', sans-serif !important;
}
.window.notepad {
    right: 32vw; top: 9vh;
    width: 320px;
    height: 420px;
}
.window.notepad textarea {
    display: block;

    width: 100%;
    height: 100%;
    padding: 5px; margin: 0px;
    resize: none;
    
    background: none;
    border: none;
    color: #fff;
    text-align: left;
    font-size: 18px;
}

.widgets {
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.widget.clock {
    position: absolute;
    right: 40px;
    bottom: 70px;

    font-size: 48px;
    color: #fff;
}